doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title + 'Specs'
    base(href=base)
    meta(name='author', content=author)
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='Resource-type', content='Document')
    link(rel="shortcut icon" href="img/logo.png")
    link(rel="stylesheet" href="node_modules/mocha/mocha.css")
    style.
      body {
          font: 20px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
          padding-left: 20px;
      }
      body h3 {
          padding: 0px 20px;
      }
      body h3 a {
          text-decoration: none;
          color: lightgreen;
      }
      body h3 a:hover {
          color: green;
      }
  body
    h3
     a(href='/specs')= title + ' Specs (reload)'
    #mocha
    script(src="node_modules/mocha/mocha.js")
    script(src="node_modules/chai/chai.js")
    script(src="cordova.js")

    // script(src='js/livereload.js')
    //- script(src='js/index.bundle.js')
    //- script(src='test/specs/utils.js')
    //- script(src='test/specs/setup.js')
    //- each spec in specs
    //-   != '<script src="test/specs/'+spec+'"></script>'

    //- for now, no livereload for specs in es6 mode
    script(src='js/index.specs.js')
    script(type="text/javascript").
        mocha.run();
