doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Security-Policy' content="style-src 'self' 'unsafe-inline'; media-src *; connect-src 'self' http://" + host + ":" + port + " ws://" + host + ":" + port + " https://" + host + " wss://"+ host)
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    base(href=base)
    meta(name='author', content=author)
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='Resource-type', content='Document')
    link(rel="shortcut icon" href="img/logo.png")
    if environment == 'dev'
       link(rel='stylesheet', type='text/css', href='scss/index.scss')
    else
       link(rel='stylesheet', type='text/css', href='css/index.css')
    if environment !== 'dev' && ganalytics != 'ganalytics'
      script(async=true, src=`https://www.googletagmanager.com/gtag/js?id=${ganalytics}`)
    if environment !== 'dev' && ganalytics != 'ganalytics'
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', !{JSON.stringify(ganalytics)});
  body(ng-app='app', ng-cloak='')
    #appData.hidden(data-host=host, data-name=title, data-html5mode=html5Mode, data-preUrl=preUrl)
    .app
      h1 Apache Cordova
      #deviceready.blink
        p.event.listening Connecting to Device
        p.event.received Device is Ready
    script(src="cordova.js")
    if environment === 'dev'
       script(src='js/index.bundle.js')
       script(src='js/livereload.js')
    else
       script(src='js/index.min.js')
